<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cst438_project1_group8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CST438_Project1_group8">

        <activity android:name=".HomeActivity"/>

        <activity android:name=".SavedJobsActivity"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                ​
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JobActivity"/>

        <activity
            android:name=".CreateLogin"
            android:label="CST438_Project1_group8"
            android:theme="@style/Theme.CST438_Project1_group8.NoActionBar"/>

        <activity
            android:name=".DetailsActivity"
            android:label="CST438_Project1_group8"
            android:theme="@style/Theme.CST438_Project1_group8.NoActionBar"/>

    </application>

</manifest>